h1{color:red}
    #thirdDiv {widht:500px ; heiht: 600px ;background-color: aqua; padding: 50; border:5px dashed black; font-style: normal;}  
    
    img {width: 400px;}

     #spanid {font-size: 16px; margin: 50; ;}