h1{color:red} 
    img {width: 400px; 
        height:200px }
    #thirdDiv {
        width:500px ; 
        height: 600px ;
        background-color: rgb(245, 4, 4);
        padding: 50px; 
        border:5px dashed black;
        margin: auto;}  

    #spanId {font-size: 18px;
             margin: 50px;}
